a<html>
<head>
        <title>BAN_YOUR_TEACHER</title>
</head>
<body style='text-align: center; background-image: url("https://static-cse.canva.com/blob/140234/Rainbow-Gradient-Pink-and-Purple-Zoom-Virtual-Background.png");'>
    <div style='text-align: center;'>



        <button type="text"   style="top:20px;background:url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v904-nunny-010-a_2.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=3eff02c6061893de65de9748fe259d73') ;border: none;padding: 0;height:100px; width:500px;border-radius: 100px;"><h3 style="font-family:Courier;">Aby zbanowac nauczyciela/ucznia wpisz jego nick powiązany z jego kontem na mobi albo email powiązany z jego kontem na mobi</h3></button>

        <br />
        <form action="{{ url_for('gg')}}" method="post">

                <tr>
                    <td>

                         <input type="text" id="komenda" name="komenda"   style="background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v904-nunny-021_3.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=e3b44a4077d9f6b349671526e99bad5a');border: none;padding: 0;font-family:Courier;height:360px; width:600px;border-radius: 100px;" size="300">


                    </td>
                </tr>

        </form>



</body>
</html>